html,body {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    overflow: hidden;
}
#bg{
    width:4500px;
    height:100%;
    background: #348cb2 url("https://img-4l1.pages.dev/bg.jpg") bottom left; 
    background-size: 2250px auto;
    background-repeat:repeat-x;
    animation: bg 40s linear infinite;
}

@keyframes bg {
    0%{
        transform:translate3d(0,0,0); 
    }

    50%{
        transform: translate3d(-750px,0,0);
    }

    100%{
        transform: translate3d(0,0,0);
    }
}
